<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../assets/navbar.css">
</head>
<body>
    <header id="navbar">
        <nav class="navbar-container container">
          <a href="/home" class="home-link">
            <div class="navbar-logo"></div>
            Alif Ardika
          </a>
          <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div id="navbar-menu" class="detached">
            <ul class="navbar-links">
              <li class="navbar-item"><a class="navbar-link" href="/home">Home</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
              <li class="navbar-item"><a class="navbar-link" href="">Contact</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <div class="daw" style="color: black; background-color: red;">dawadawdawdawdawdawdawdadw</div>
    <div class="cawc">dwadawd</div>
</body>
<script src="../../assets/navbar.js"></script>
</html>
