<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/assets/home/home.css"> -->
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="shortcut icon" href="/assets/home/img/icons8-monkey-32.png" type="image/x-icon">
</head>
<body>
    <header id="navbar">
        <nav class="navbar-container container">
          <a href="/" class="home-link">
            <div class="navbar-logo"></div>
            Alif Ardika
          </a>
          <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div id="navbar-menu" class="detached">
            <ul class="navbar-links">
                <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
                <li class="navbar-item"><a class="navbar-link" href="">Contact</a></li>
            </ul>
          </div>
        </nav>
    </header>
    
  
</body>
<script src="/assets/navbar.js"></script>
</html>
