<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <link rel="stylesheet" href="/assets/portofolio/portofolio.css">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/footer.css">
    <link rel="shortcut icon" href="/assets/home/img/icons8-monkey-32.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header id="navbar">
      <nav class="navbar-container container">
        <a href="/" class="home-link">
          <div class="navbar-logo">
            <img src="/assets/home/img/pas foto.jpg" alt="logo">
          </div>
          Alif Ardika
        </a>
        <button type="button" class="navbar-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="navbar-menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar-menu" class="detached">
          <ul class="navbar-links">
              <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
              <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
              <li class="navbar-item"><a class="navbar-link" href="">Contact</a></li>
          </ul>
        </div>
      </nav>
  </header>
  
  <!-- isinya -->
  <div class="portofolio-main">
    <div class="portofolio-container">
      <a href="#">
        <div class="card" id="card1">
          <div class="card-img">
            <img src="/assets/portofolio/img/1.png" alt="1">
          </div>
          <div class="card-desc">
            <h3>Web Development</h3>
            <p>
              I have experience in developing websites using HTML, CSS, and Javascript. 
              I also have experience in developing websites using PHP and Laravel Framework.
            </p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="card" id="card2">
          <div class="card-img">
            <img src="/assets/portofolio/img/1.png" alt="1">
          </div>
          <div class="card-desc">
            <h3>Web Development</h3>
            <p>
              I have experience in developing websites using HTML, CSS, and Javascript. 
              I also have experience in developing websites using PHP and Laravel Framework.
            </p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="card" id="card1">
          <div class="card-img">
            <img src="/assets/portofolio/img/1.png" alt="1">
          </div>
          <div class="card-desc">
            <h3>Web Development</h3>
            <p>
              I have experience in developing websites using HTML, CSS, and Javascript. 
              I also have experience in developing websites using PHP and Laravel Framework.
            </p>
          </div>
        </div>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div class="footerdesc">
        Feel free to connect me with accross a range of social media platforms 
      </div>
      <div class="socmed">
        <a href="https://github.com/Soulra01"><i class="fa fa-github"></i></a>
        <a href="https://linkedin.com/in/alifardika"><i class="fa fa-linkedin"></i></a>
        <a href="https://instagram.com/ardikar_01?igshid=MzMyNGUyNmU2YQ=="><i class="fa fa-instagram"></i></a>
      </div>
      <div class="copyright-container">
        © 2023 Ardika.R
      </div>
    </div>
  </footer>
</body>
<script src="/assets/navbar.js"></script>
</html>
